<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
    <p>I’m a product & business owner with a track record of bringing multiple concepts to life. My various teams and I have successfully launched a communication API for chat & messenger apps (Nexmo), revived an enterprise file sharing business (Druva), founded a consumer mentoring network & an alumni engagement product company (Mentii), and incubated a low cost healthcare asset management & tracking solution (Avery Dennison). Currently building a better business travel booking product (Comtravo).</p>
</div><!--//summary-->
</section><!--//section-->