<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Chief Product Officer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Comtravo | Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>At Comtravo, we have built a product that allows a business travel booking to be completed with just one email. Much of our work has gone into integrating with various travel supplier APIs, training NLP models for understanding booking request emails, and developing a recommendation engine.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Head of Product & Business, Chat API</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nexmo | San Francisco & London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Nexmo's Chat API was the first product which allowed brands to integrate multiple messaging apps into their customer interation. I led the product from concept to launch, brokered key partnerships & sales deals, managed early customers, mentored the team, and operated the help desk. </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Druva | San Francisco</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I led the successful relaunch of the enterprise file sharing product at Druva, leading to a 4x revenue bump.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">CEO & Co-Founder</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Mentii | New York</div>
                    </div><!--//meta-->
                   
                </div><!--//item-->

                    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Venture Builder - New Growth Platforms Team</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Avery Dennison | Boston</div>
                    </div><!--//meta-->
                   
                </div><!--//item-->

                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Management Consultant</h3>
                            <div class="time">2005 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Bain & Company | New Delhi, Mumbai, Atlanta</div>
                    </div><!--//meta-->
                   
                </div><!--//item-->



                
            </section><!--//section-->